*body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    "nav nav nav nav"
    "tagline tagline tagline tagline"
    "recipe-1 recipe-2 recipe-3 recipe-4"
    "footer footer footer footer";
    padding: 16px; 
}

#recipe-1 {
    grid-area: recipe-1
}

#recipe-2 {
    grid-area: recipe-2
}

#recipe-3 {
    grid-area: recipe-3
}

#recipe-4 {
    grid-area: recipe-4
}

.heading-tagline {
    width: 100%;
    grid-area: tagline;
}


footer {
    grid-area: footer;
    padding: 24px 0 24px 20px;
    background-color: #B5CF66;
    border: 1px solid #FF5A34;
}

img {
    height: 200px;
}


h1 {
    color: #156152;
}

.recipe-detail-link {
    text-decoration: none;
    color: #5A9055;

}


/* NAV STYLING */
nav {
    grid-area: nav;
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #FF5A34;
}

.main-page-link {
    text-decoration: none;
    color: white;
}
.main-page-link:hover {
    font-style: italic;
    font-weight: bold;
}

/* DETAIL PAGE STYLING */

#detail-page-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}